.key-actions {
    background-color: #1c1d1f;
    color: white;

    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 3rem;
    padding-left: 3rem;
}

.key-actions-middler {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.key-actions-left {
    height: 100vh;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.key-actions-right {
    height: 100vh;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.key-actions-desc {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    background-color: #2a2b2e;
    padding: 2rem;
    font-size: 1.1rem;
    line-height: 1.6;
}

.key-actions-image-container {
    position: relative;
    display: inline-block;

    display: flex;
    justify-content: center;
}

.key-actions-img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    position: relative;
    z-index: 2;
}

.key-actions-border-rectangle {
    position: absolute;
    top: -21%;
    right: -13%;
    width: 100%;
    height: 100%;
    background-size: 20px 20px;
    background-image:
        linear-gradient(to right, #1c1d1f 16px, transparent 1px),
        linear-gradient(to bottom, #1c1d1f 16px, transparent 1px);
    pointer-events: none;
    z-index: 1;
}

.key-actions-border-rectangle-background {
    position: absolute;
    top: -21%;
    right: -13%;
    width: 100%;
    height: 100%;
    background-color: orange;
    pointer-events: none;
    z-index: 0;
}

@media (max-width: 1024px) {
    .key-actions-desc {
        font-size: 0.9rem;
    }
}

@media (min-width: 768px) {
    .key-actions {
        flex-direction: row;
        font-size: 0.6rem;
    }

    .key-actions-left,
    .key-actions-right {
        flex: 1;
    }

    .key-actions-middler {
        display: block;
        width: 1.5rem;
    }
}

@media (max-width: 767px) {
    .key-actions {
        flex-direction: column;
    }

    .key-actions-middler {
        height: auto;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .key-actions-left,
    .key-actions-right {
        height: auto;
        flex: 1 1 auto;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .key-actions-border-rectangle,
    .key-actions-border-rectangle-background {
        display: none;
    }
}