.resume-section {
    background-color: #1c1d1f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 3rem 1.5rem;
}

.resume-container {
    text-align: center;
    max-width: 800px;
    width: 100%;
}

.resume-box {
    border-radius: 15px;
    background-color: #2a2b2e;
    padding: 2rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.resume-container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.resume-download-box {
    margin: 2rem;
}

.resume-download-link {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 0.8rem 1.2rem;
    font-weight: bold;
    padding: 0.8rem 1.2rem;
    border-radius: 8px;
    background-color: orange;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.resume-download-link:hover {
    background-color: #ff9f47;
    transform: translateY(-2px);
}

@media (max-width: 764px) {
    .resume-box {
        display: none;
    }
}

@media (min-width: 765px) {
    .resume-download-box {
        display: none;
    }
}