.tile-renderer {
    background-color: #212224;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 3rem;
    padding-left: 3rem;
}

.tile-renderer-middler {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.tile-renderer-left {
    height: 100vh;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile-renderer-right {
    height: 100vh;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile-renderer-desc {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    background-color: #2a2b2e;
    padding: 1.5rem;
}

.tile-renderer-image-container {
    position: relative;
    display: inline-block;

    display: flex;
    justify-content: center;
}

.tile-renderer-img {
    width: 80%;
    height: auto;
    border-radius: 15px;
    position: relative;
    z-index: 2;
}

.tile-renderer-border-rectangle {
    position: absolute;
    top: -12%;
    right: 20%;
    width: 80%;
    height: 100%;
    background-size: 20px 20px;
    background-image:
        linear-gradient(to right, #212224 16px, transparent 1px),
        linear-gradient(to bottom, #212224 16px, transparent 1px);
    pointer-events: none;
    z-index: 1;
}

.tile-renderer-border-rectangle-background {
    position: absolute;
    top: -12%;
    right: 20%;
    width: 80%;
    height: 100%;
    background-color: orange;
    pointer-events: none;
    z-index: 0;
}