.tiles-cont {
    background-color: #212224;
    color: white;

    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 3rem;
    padding-left: 3rem;
}

.tiles-cont-middler {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.tiles-cont-left {
    height: 100vh;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tiles-cont-right {
    height: 100vh;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tiles-cont-image-container {
    position: relative;
    display: inline-block;

    display: flex;
    justify-content: center;
}

.tiles-cont-img {
    width: 80%;
    height: auto;
    border-radius: 15px;
    position: relative;
    z-index: 2;
}

.tiles-cont-border-rectangle {
    position: absolute;
    top: -12%;
    right: 20%;
    width: 80%;
    height: 100%;
    background-size: 20px 20px;
    background-image:
        linear-gradient(to right, #212224 16px, transparent 1px),
        linear-gradient(to bottom, #212224 16px, transparent 1px);
    pointer-events: none;
    z-index: 1;
}

.tiles-cont-border-rectangle-background {
    position: absolute;
    top: -12%;
    right: 20%;
    width: 80%;
    height: 100%;
    background-color: orange;
    pointer-events: none;
    z-index: 0;
}

@media (max-width: 1024px) {
    .tiles-cont-desc {
        font-size: 0.9rem;
    }
}

@media (min-width: 768px) {
    .tiles-cont {
        flex-direction: row;
        font-size: 0.6rem;
    }

    .tiles-cont-left,
    .tiles-cont-right {
        flex: 1;
    }

    .tiles-cont-middler {
        display: block;
        width: 1.5rem;
    }
}

@media (max-width: 767px) {
    .tiles-cont {
        flex-direction: column;
    }

    .tiles-cont-middler {
        height: auto;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .tiles-cont-left,
    .tiles-cont-right {
        height: auto;
        flex: 1 1 auto;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .tiles-cont-border-rectangle,
    .tiles-cont-border-rectangle-background {
        display: none;
    }
}